// theme 1 - blue

/*white or colorE*/
$white: #fff;
$white_fill: 'fff';

/*black*/
$black: #000;
$black_fill: '000';

/*gray or colorF*/
$gray: #434343;
$gray_fill: '434343';

/*navy blue*/
$navy: #1e70bf;
$navy_fill: '1e70bf';

/*dark blue gray or colorG*/
$darkbluegray: #34495e;
$darkbluegray_fill: '34495e';

/*light blue gray or colorD*/
$lightbluegray: #97a8b2;
$lightbluegray_fill: '97a8b2';

/*light blue or colorA*/
$lightblue: #47a3da;
$lightblue_fill: '47a3da';

/*light blue or colorB*/
$lightturquoise: #00ffed;
$lightturquoise_fill: '00ffed';

$lightturquoise: #00D1D6;
$lightturquoise_fill: '00D1D6';

$lightturquoiseOnWhite: #00D1D6;
$lightturquoiseOnWhite_fill: 00D1D6;

/*light gray or colorI*/
$lightgray: #ecf0f1;
$lightgray_fill: 'ecf0f1';

/*error*/
$error: #ff7c6d;
$error_fill: 'ff7c6d';

/*success*/
$success: #ccff00;
$success_fill: 'ccff00';
