.form-field {
    position: relative;
}

.form-control {
  border-radius: 0;
  border: 1px solid $gray;
  &.error {
    border: 1px solid $error;
    ~ label {
        position: absolute;
        padding: .25rem;
        z-index: 9;
        background: $error;
        width: auto;
        margin: 0;
        height: 2rem;
        top: 100%;
    }
  }
}
textarea.form-control {
  max-height: 4rem;
}





.select {

  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: $lightblue transparent transparent transparent;
    pointer-events: none;
  }

  &:before {
    width: 30px;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    background: whitesmoke;
    content: '';
    pointer-events: none;
  }

  &:hover {
    &:before {
      background: $lightturquoise;
      opacity: .3;
    }
  }

  select {
    border: 0;
    cursor: pointer;
    // Disable default styling on ff
    -moz-appearance: none;
    // Disable ugly ass outline on firefox
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
    // Disable default styling on webkit browsers
    -webkit-appearance: none;
    // Disable default arrow on IE 11+
    &::-ms-expand {
      display: none;
    }
  }
}

// IE 9 only
@media all and (min-width:0\0) and (min-resolution:.001dpcm){
  .select{
    select {
      padding-right: 0;
    }

    &:after, &:before {
      display: none;
    }
  }
}


[id*="message-"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 99999;
}
[id="message-warning"] {
  background: $error;
}
[id="message-success"] {
  background: $success;
  color: $navy;
}

.contact {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-right: 5px;
    padding-left: 5px;
  }  
}

// landscape on mobile
// @media screen and (max-width: 768px) {
//   .form-control {
//       font-size: 2vw;
//       &.error {
//         ~ label {
//             font-size: 2vw;
//         }
//       }
//   }
// }
// portrait on mobile
// @media screen and (max-width: 500px) {
//   .form-control {
//       font-size: 4vw;
//       &.error {
//         ~ label {
//             font-size: 4vw;
//         }
//       }
//   }
// }
